.centered-link {
  display: block;
  text-align: center;
  margin: 1.5em 0;
}

.link-button {
  display: inline-block;
  padding: 10px 18px;
  background-color: #005a9c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.2s ease;
}

.link-button:hover {
  background-color: #003f6f;
}

.link-button-yellow {
  display: inline-block;
  padding: 10px 18px;
  background-color: #005a9c;
  color: #ffd700; /* žltá */
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.2s ease;
}

.link-button-yellow:hover {
  background-color: #003f6f;
  color: #ffffff;
}

.icon-link {
  color: #005a9c;
  text-decoration: none;
  font-weight: bold;
  margin: 0.5em;
}

.icon-link:hover {
  text-decoration: underline;
  color: #003f6f;
}
